<section>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/images/logo.png" alt="Logo" class="is-circular is-64x64">
                    <span class="has-margin-left">Striped Purple</span>
                </a>
                <span role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item page-scroll" href="{% if not home %}/{% endif %}#main-content">about</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-lowercase">
                            shop
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/shop/prints" target="_blank">
                                prints
                            </a>
                            <a class="navbar-item" href="/shop/designs" target="_blank">
                                sticker / designs
                            </a>
                        </div>
                    </div>
                </div>

                <a class="navbar-item" href="/portfolio">portfolio</a>
                <a class="navbar-item" href="/blog" target="_blank">blog</a>
                <a class="navbar-item" href="/codez" target="_blank">codez</a>

                <a class="navbar-item navbar-inline" href="/instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="navbar-item navbar-inline" href="/twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="navbar-item navbar-inline" href="/messenger" target="_blank"><i
                            class="fab fa-facebook-messenger"></i></a>
                <a class="navbar-item navbar-inline" href="/github" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </nav>
</section>