<section>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/images/logo.png" alt="Logo" class="is-circular is-64x64">
                    <span class="has-margin-left">Striped Purple</span>
                </a>
                <span role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/about">about</a>
                    <a class="navbar-item" href="/portfolio">portfolio</a>
                    <a class="navbar-item" href="/codez">codez</a>
                    <a class="navbar-item navbar-inline" href="/instagram"><i class="fab fa-instagram"></i></a>
                    <a class="navbar-item navbar-inline" href="/twitter"><i class="fab fa-twitter"></i></a>
                    <a class="navbar-item navbar-inline" href="/messenger"><i class="fab fa-facebook-messenger"></i></a>
                    <a class="navbar-item navbar-inline" href="/github"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </nav>
</section>