{% extends './layout/main.twig' %}

{% block content %}
    <section class="hero is-primary is-fullheight bg-train">
        <div class="hero-head">
            {% include './partials/navbar.twig' %}
        </div>

        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title is-uppercase has-text-weight-bold">
                    Austin Barrett
                </h1>
                <span class="subtitle" id="typewriter" data-typewriter="Developer, Designer, Photographer &amp; Camping Enthusiast️🔥⛺"></span><span class="blinking-cursor">|</span>
                <noscript>
                    <h2>Developer,Designer,Photographer,&amp; Camping Enthusiast️🔥⛺</h2>
                </noscript>

            </div>
        </div>

        <div class="hero-foot has-text-centered	">
            <a href="#main-content"><i class="fa fa-angle-double-down fa-2x bounce"></i></a>
            <br><br><br>
        </div>
    </section>

    <section class="section bg-purple" id="main-content">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <fugure class="image is-1by1">
                        <img src="/images/home/profile.jpg" alt="profile photo"
                             srcset="/images/home/profile-320w.jpg 320w,
                                     /images/home/profile-480w.jpg 480w,
                                     /images/home/profile-800w.jpg 800w" class="is-circular">
                    </fugure>
                </div>
                <div class="column">
                    <div class="has-padding-left">
                        <h1 class="title has-text-white">About Austin</h1>
                        <hr style="border: none; border-bottom: 4px solid white; width: 3em; margin: -1rem 0 1rem 0">
                        <p class="is-size-4-desktop is-size-5-touch has-text-light">Austin has been responsible for
                            bringing to life countless project. Everything from beautiful websites to complex web apps
                            used in day to day operations.</p>
                        <br>
                        <p class="is-size-4-desktop is-size-5-touch has-text-light">Working closely with a sundry of
                            companies, Austin has been able to provided unparalleled web design/development, and
                            product/event photography.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="/stylesheets/typewriter.css">
    <style>
        .hero.bg-train {
            background: url("/images/home/train2.jpg") left center no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block js %}
{{ parent() }}
    <script src="/javascripts/typewriter.js"></script>
{% endblock %}

{% block nav %}
{% endblock %}
