{% extends "layout/main.twig" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-4">Headshots at Whitaker Center</h1>
                <figure class="image is-1x1">
                    <a href="/portfolio/event/20190209"><img src="/images/gallery/whitaker1.jpg" alt="Headshot at Whitaker Center"></a>
                </figure>
            </div>

            <div class="column">
                <h1 class="title is-size-4">Student 5K</h1>
                <figure class="image is-1x1">
                    <a href="/portfolio/event/20180418"><img src="/images/gallery/5k.jpg" alt="Student 5K"></a>
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-size-4">Forster St Cleanup 2019</h1>
                <figure class="image is-1x1">
                    <a href="/portfolio/event/personal"><img src="https://drive.google.com/uc?export=view&id=1b2tLfyWDHmH-eRzz6ORSKKR4mW-7QkC6" alt="Portfolio"></a>
                </figure>
            </div>
{#            <div class="column">#}
{#                <h1 class="title is-size-4">Personal Work</h1>#}
{#                <figure class="image is-1x1">#}
{#                    <a href="/portfolio/event/personal"><img src="/images/gallery/5k.jpg" alt="Portfolio"></a>#}
{#                </figure>#}
{#            </div>#}
        </div>
    </div>
</section>

{% endblock %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
{% endblock %}



