{% extends "layout/main.twig" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-4">Headshots at Whitaker Center</h1>
                <figure class="image is-1x1">
                    <a href="/gallery/event/20190209"><img src="/images/gallery/whitaker1.jpg" alt="Headshot at Whitaker Center"></a>
                </figure>
            </div>

            <div class="column">
                <h1 class="title is-size-4">Student 5K</h1>
                <figure class="image is-1x1">
                    <a href="/gallery/event/20180418"><img src="/images/gallery/5k.jpg" alt="Student 5K"></a>
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-size-4">Personal Work</h1>
                <figure class="image is-1x1">
                    <a href="/gallery/event/20180418"><img src="/images/gallery/5k.jpg" alt="Student 5K"></a>
                </figure>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}



