@import "partials/config"
@import "partials/navbar"

body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: $brand-purple
  text-decoration: none
  -webkit-transition: all ease 0.3s
  -moz-transition: all ease 0.3s
  -ms-transition: all ease 0.3s
  -o-transition: all ease 0.3s
  transition: all ease 0.3s

  &:hover
    color: darken($brand-purple, 10%)

.container-full
  padding: 10px 15px
  width: 100%
  max-width: 100%
