// Config
$brand-color: #5054be
$primary: $brand-color
$link: $primary
$link-hover: darken($primary, 10%)

// Imports
@import "~bulma/bulma"

// Generic
body
  font-family: Raleway,'Quicksand', 'Source Sans Pro', "Helvetica Neue", "Fira Sans", "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif

// Utilities
.is-rounded
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

.columns.is-centered
  justify-content: center

.has-border-bottom
  border-bottom: 1px solid $dark

.navbar-item
  margin-right: .75rem


.section.is-fullheight
  min-height: 100vh
