---
import Main from "../layouts/main.astro";
import Hero from "../components/home/hero.astro";
import Skills from "../components/home/skills.astro";
import Footer from "../components/home/footer.astro";
import WorkHistory from "../components/home/workHistory.astro";
---

<Main>
  <Hero />
  <Skills />
  <WorkHistory />
  <Footer />
</Main>
