---
---

<section id="footer">
<footer class='grid grid-cols-12 grid-rows-6'>

    <div class="bg-slate-800 text-white col-span-5 row-span-6 px-8 sm:px-16 py-4 sm:py-8 flex flex-col gap-4 justify-between">
        <div>
            <h1 class="text-4xl font-bold mb-6">Available for select freelance opportunities</h1>
    
        <p class="text-xl">Have an exciting project you need help with? Send me an email or contact me via instant message!</p>
        </div>
    
        <ul>
            <li><a href="mailto:austin@stripedpurple.io" class="link">austin@stripedpurple</a></li>
            <li><a href="mailto:austin@stripedpurple.io" class="link">GitHub</a></li>
            <li><a href="mailto:austin@stripedpurple.io" class="link">Instagram</a></li>
            <li><a href="mailto:austin@stripedpurple.io" class="link">LinkedIn</a></li>
            <li><a href="mailto:austin@stripedpurple.io" class="link">Twitter</a></li>
        </ul>
    </div>
    
    <div class="testimonial bg-pink-600 text-white col-span-3 row-span-6">
        <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi aliquid cum ullam quasi, laudantium ipsum distinctio eum quidem at quisquam ab deleniti maiores eius itaque necessitatibus accusantium blanditiis facere ea?</blockquote>
    </div>
    
    <div class="testimonial bg-purple-600 text-white col-span-4 row-span-2">
        <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi aliquid cum ullam quasi, laudantium ipsum distinctio eum quidem at quisquam ab deleniti maiores eius itaque necessitatibus accusantium blanditiis facere ea?</blockquote>
    </div>
    
    <div class="testimonial bg-indigo-600 text-white col-span-4 row-span-4">
        <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi aliquid cum ullam quasi, laudantium ipsum distinctio eum quidem at quisquam ab deleniti maiores eius itaque necessitatibus accusantium blanditiis facere ea?</blockquote>
    </div>

</footer>
</section>


<style scoped>
    .testimonial {
        @apply px-8 py-4  sm:py-8 grid place-items-center motion-safe:hover:-translate-y-6 duration-200 transition-all
    }

    blockquote::before{
        content: '❝ ';
        font-size: 3rem;
        transform: translate(-3.5rem, -1rem);
        top: 0;
        position: absolute;
    }
    blockquote {
        position: relative;
        padding-left: 3.5rem;
    }
</style>