---
import GradiantTitle from "../common/gradiantTitle.astro";
import ArrowDown from "../icons/outline/ArrowDown.astro";
---

<section
  class="max-h-xl h-screen flex flex-col justify-between items-center px-8 md:px-16 py-4 relative"
>
  <div
    class="bg-spiral w-8/12 ml-[33.33%] z-[-1] top-0 bottom-0 left-0 right-0 absolute"
  >
  </div>
  <div class="overlay z-10"></div>
  <div aria-hidden="true"></div>
  <div class="flex justify-between items-center w-full z-10">
    <div class="max-w-lg sm:mx-16">
      <GradiantTitle class={"mb-4"} size={'6xl'} lg={'7xl'}>
        Austin Barrett
      </GradiantTitle>
      <p class="text-lg sm:text-xl md:text-2xl">
        Web UI/UX Developer, <wbr />Photographer/Digital Artist, <wbr />Magician
        Extraordinaire
      </p>
    </div>

  </div>
  <div class="z-10">
    <a
      href="#scrollTo"
      title="click or scroll for more"
      role="button"
      class="select-all"
    >
      <ArrowDown class="w-12 h-12 motion-safe:animate-bounce"/>
    </a>
  </div>
</section>
<span id="scrollTo"></span>

<style scoped>
  .overlay {
    background-image: url("/bg-tile-dark.svg");
    background-position: 5% 50%;
    box-shadow: inset 50vw -5rem 50vw hsl(240, 6%, 10%);
    @apply absolute top-0 bottom-0 left-0 right-0 select-none;
  }
</style>
