---
import BlindsTitle from "../common/blindsTitle.astro";

---

<div class="select-none py-4 px-6 flex items-center justify-center m-0 w-full z-20 absolute top-0" id="navbar">
  <nav
  class="border border-primary-600/50 flex justify-center rounded-full items-center gap-6 sm:gap-8 px-6 py-2 text-lg font-medium capitalize backdrop-blur-sm bg-primary-800/50"
>
  <BlindsTitle class="opacity-80 hover:opacity-100 transition-all" toColor={'violet'} fromColor={'white'} href="#" as='a' size={'md'}>home</BlindsTitle>
  <BlindsTitle class="opacity-80 hover:opacity-100 transition-all" toColor={'pink'} fromColor={'white'} href="#whatIDo" as='a' size={'md'}>What I do</BlindsTitle>
  <BlindsTitle class="opacity-80 hover:opacity-100 transition-all" toColor={'purple'} fromColor={'white'} href="#projectHighlight" as='a' size={'md'}>Projects</BlindsTitle>
  <BlindsTitle class="opacity-80 hover:opacity-100 transition-all" toColor={'orange'} fromColor={'white'} href="#career" as='a' size={'md'}>Career</BlindsTitle>
  <BlindsTitle class="opacity-80 hover:opacity-100 transition-all" toColor={'yellow'} fromColor={'white'} href="#footer" as='a' size={'md'}>contact</BlindsTitle>
</nav>
</div>

<style>
  a::before {
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
  }
</style>

<script defer>
  window.addEventListener("load", () => {
    const obserables = document.getElementById("scrollTo");
    const navbar = document.getElementById("navbar");
    const io = new IntersectionObserver((entries) => {
      entries.forEach(
        (entry) => {
          if (!entry.isIntersecting) {
            navbar.classList.add(
              "fixed",
            );
            navbar.classList.remove("top-0", "absolute");
          } else {
            navbar.classList.remove(
              "fixed",
            );
            navbar.classList.add("top-0", "absolute");
          }
        },
        { threshold: 0 }
      );
    });

    io.observe(obserables);
  });
</script>
