---
import Section from "../common/section.astro";
import Accordion from "../common/accordion.astro";
import BlindsTitle from "../common/blindsTitle.astro";
---
<Section class={"max-w-5xl mx-auto sm:my-24"} id="career">
  <BlindsTitle size="5xl" fromColor={'yellow'} toColor={'orange'} class='mb-8 text-center'>Work Experience</BlindsTitle>
  <Accordion>
    <span class="flex items-start sm:items-center gap-x-2 flex-col sm:flex-row" slot="button">
      <b class="font-medium">Dir, IT / Multimedia Operations</b>
      <span class="flex gap-2 items-center">
        <span title="at">@</span>BioHiTech
        <small class="text-primary-200 text-base sm:text-sm">(2014 - 2021)</small>
      </span>
    </span>
    <div slot="content">
      <p>
        The startup life style can be described as one with many hats. Over the
        years at BioHitech I dawned many hats, Full Stack Engineer, Designer,
        Marketing Specialist, and eventually Lead Developer. During this time I
        was able to work with plethora technologies including:
      </p>
      <ul class="list-disc pl-4 ml-4">
        <li>AWS (EC2, ECS, Aurora, Kinesis, S3, RDS, Lightsail)</li>
        <li>Node / Express / AngularJS</li>
        <li>PostgreSQL / MongoDB / LevelDB</li>
        <li>PLC Programming with Ladders, and Structured Text</li>
        <li>Java / Spring</li>
        <li>Adobe Creative Cloud (Ps, Ai, Pr, Xd, Lr, LrC, Id)</li>
      </ul>
    </div>
  </Accordion>

  <Accordion>
    <span class="flex items-start sm:items-center flex-col sm:flex-row gap-x-2" slot="button">
      <b class="font-medium">Lead UI / UX Developer</b>
      <span class="flex gap-2 items-center">
        <span title="at">@</span>RolkaLoube 
        <small class="text-primary-200 text-base sm:text-sm">(2021 - Present)</small>
      </span>
    </span>
    <!-- <span class="flex items-center" slot="button" -->
      <!-- ><b></b><span class="mx-2">|</span>RolkaLoube <small -->
        <!-- class="text-primary-200 ml-4">(2021 - Present)</small -->
      <!-- > -->
    <!-- </span> -->
    <div slot="content">
      <p>Rolka Loube has a sole focus of helping federal and state government entities successfully administer programs and services with a focus on accessibility for disadvantaged and underserved populations.</p>
      <ul class="list-disc pl-4 ml-4">
        <li>Vue 3, React 16+, TS/JS,</li>
        <li>Accessibility design, 508 Compliance</li>
        <li>Adobe Creative Cloud (Ps, Ai, Pr, Xd, Lr, LrC, Id)</li>
        <li>Docker / Container Engines</li>
        <li>Azure DevOps, CI/CD</li>
        <li>Node / Express / NestJS</li>
        <li>PostgreSQL / Microsoft SQL Server</li>
      </ul>
    </div>
  </Accordion>
</Section>

