---
import Section from "../common/section.astro";
import Accordion from "../common/accordion.astro";
import GradiantTitle from "../common/gradiantTitle.astro";
---

<Section class={"max-w-5xl mx-auto sm:my-24"} id="career">
  <GradiantTitle size="5xl" class='mb-8 text-center'>Work Experience</GradiantTitle>
  <Accordion>
    <span class="flex items-center" slot="button"
      ><b>Director, IT / Multi-Media Operations</b><span class="mx-2">|</span
      >BioHiTech <small class="text-primary-200 ml-4">(2014 - 2021)</small>
    </span>
    <div slot="content">
      <p>
        The startup life style can be described as one with many hats. Over the
        years at BioHitech I dawned many hats, Full Stack Engineer, Designer,
        Marketing Specialist, and eventually Lead Developer. During this time I
        was able to work with plethora technologies including:
      </p>
      <ul class="list-disc pl-4 ml-4">
        <li>AWS (EC2, ECS, Aurora, Kinesis, S3, RDS, Lightsail)</li>
        <li>Node / Express / AngularJS</li>
        <li>PostgreSQL / MongoDB / LevelDB</li>
        <li>PLC Programming with Ladders, and Structured Text</li>
        <li>Java / Spring</li>
        <li>Adobe Creative Cloud (Ps, Ai, Pr, Xd, Lr, LrC, Id)</li>
      </ul>
    </div>
  </Accordion>

  <Accordion>
    <span class="flex items-center" slot="button"
      ><b>Lead UI / UX Developer</b><span class="mx-2">|</span>RolkaLoube <small
        class="text-primary-200 ml-4">(2021 - Present)</small
      >
    </span>
    <p slot="content">
      The approach will not be easy. You are required to maneuver straight down
      this trench and skim the surface to this point. The target area is only
      two meters wide. It’s a small thermal exhaust port, right below the main
      port. The shaft leads directly to the reactor system. A precise hit will
      start a chain reaction which should destroy the station. Only a precise
      hit will set up a chain reaction. The shaft is ray-shielded, so you’ll
      have to use proton torpedoes. That’s impossible, even for a computer. It’s
      not impossible. I used to bull’s-eye womp rats in my T-sixteen back home.
      They’re not much bigger than two meters. Man your ships! And may the Force
      be with you!
    </p>
  </Accordion>
</Section>

