// Config
$brand-color: #6465be
$primary: $brand-color
$link: $primary
$link-hover: darken($primary, 10%)
$radius-small: .25rem
$radius: .25rem
$radius-large: .25rem

// Imports
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"
@import "~bulma/sass/utilities/derived-variables"
@import "~bulma/sass/utilities/animations"
@import "~bulma/sass/utilities/mixins"
@import "~bulma/sass/utilities/controls"
//
@import "~bulma/sass/base/minireset"
@import "~bulma/sass/base/generic"
@import "~bulma/sass/base/helpers"

@import "~bulma/sass/components/navbar"

@import "~bulma/sass/elements/button"
@import "~bulma/sass/elements/icon"
@import "~bulma/sass/elements/image"
@import "~bulma/sass/elements/progress"
@import "~bulma/sass/elements/title"

@import "~bulma/sass/grid/columns"

@import "~bulma/sass/helpers/color"
@import "~bulma/sass/helpers/typography"
@import "~bulma/sass/helpers/visibility"

@import "~bulma/sass/layout/hero"
@import "~bulma/sass/layout/section"

@import "stripedpurple"


// Generic
html, body
  overscroll-behavior: none
  -ms-overflow-style: none  /* IE and Edge */
  scrollbar-width: none  /* Firefox */
  font-size: 16px
  @media screen and (min-width: 768px)
    font-size: 1.75vw
  @media screen and (min-width: 1024px)
    font-size: 1.5vw
  @media screen and (min-width: 1200px)
    font-size: 1.25vw
  @media screen and (min-width: 1600px)
    font-size: 1vw

  &::-webkit-scrollbar
    display: none

body
  padding: 0
  margin: 0
  //background: white
  font-family: Raleway,'Quicksand', 'Source Sans Pro', "Helvetica Neue", "Fira Sans", "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif

div, p
  @media screen and (max-width: 768px)
    font-size: 16px

p:not(:last-child)
  margin-bottom: 0.75rem
// Utilities
.is-rounded
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

.has-border-bottom
  border-bottom: 1px solid $dark

.navbar-brand .navbar-item img
  max-height: 2.75rem

.navbar-item
  margin-right: .75rem


.section
  &.is-fullheight
    min-height: 100vh

.columns.is-reversed-tablet
  @media(min-width: $tablet +1)
    display: flex
    flex-direction: row-reverse

.buttons .button
  @media screen and (max-width: 768px)
    margin-right: 0 !important

.button
  @media screen and (max-width: 768px)
    width: 100%

.has-text-periwinkle
  color: #526488
