{% extends './base.twig' %}
{% block main %}

    <section>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="/images/logo.png" alt="Logo" class="is-circular is-64x64">
                            <span class="has-margin-left">Striped Purple</span>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                                <a class="navbar-item" href="/about">about</a>
                                <a class="navbar-item" href="/portfolio">portfolio</a>
                                <a class="navbar-item" href="/codez">codez</a>
                                <a class="navbar-item" href="/instagram"><i class="fab fa-instagram"></i></a>
                                <a class="navbar-item" href="/twitter"><i class="fab fa-twitter"></i></a>
                                <a class="navbar-item" href="/messenger"><i class="fab fa-facebook-messenger"></i></a>
                                <a class="navbar-item" href="/github"><i class="fab fa-github"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
    </section>

    {% block content %}
    {% endblock %}


    <section class="footer">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column has-text-right">
                        <a href="/instagram"><i class="fab fa-instagram"></i></a>
                        <a href="/twitter"><i class="fab fa-twitter"></i></a>
                        <a href="/messenger"><i class="fab fa-facebook-messenger"></i></a>
                        <a href="/github"><i class="fab fa-github"></i></a>
                    <span></span>
                    &copy; Austin Barrett 2018
                </div>
            </div>
        </div>
    </section>
{% endblock %}