---
---

<div class="expanded accordion">
  <button class="btn">
    <slot name="button" />
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="icon">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
    </svg>
    
  </button>

  <div class="description">
    <slot name="content" />
  </div>
</div>

<style>
  .btn {
    @apply flex items-center justify-between w-full rounded-lg bg-violet-700 focus:bg-violet-600 hover:bg-violet-600 py-3 px-4 mb-4;
  }

  .expanded .icon {
    @apply rotate-0;
  }

  .icon {
    @apply transition-all duration-200 text-white rounded-full h-6 w-6 sm:h-5 sm:w-5 -rotate-45;
  }

  .expanded .description {
    @apply py-3 px-4 sm:py-6 sm:px-8 max-h-screen mb-6 scale-100 opacity-100;
  }

  .description {
    @apply rounded-lg mb-0 bg-primary-800 max-h-0 duration-500 overflow-hidden transition-all scale-75 opacity-0;
  }
</style>

<script>
  let ac = document.querySelectorAll('.accordion button')

  ac.forEach((el) => {
    el.addEventListener('click', (e) => {
        el.parentElement.classList.toggle('expanded')
    })
  })
</script>