<div class={`${Astro.props?.class} py-3 px-4 hover:shadow-[5px_5px_25px_0_rgb(168,85,247),-5px_-5px_25px_0_rgb(236,72,153)] rounded-xl bg-violet-900 transition-all duration-300 hover:z-10 z-0  hover:-translate-y-5`}>
    <slot/>
</div>