---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {}

Astro.props as Props
---

<a class="card" {...Astro.props}>
  <div class={`${Astro.props?.class} rounded-lg py-4 px-6`}>
    <slot />
  </div>
</a>

<style>
  .card {
    @apply focus:before:bg-spiral hover:before:bg-spiral before:absolute before:-inset-1 before:opacity-0 hover:before:opacity-100 focus:before:opacity-100 before:duration-300 before:transition-all  before:z-[-1] bg-primary-800 box-border relative rounded-xl focus:outline-none before:blur-lg before:scale-[0.97];
  }
</style>
