@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  section {
    scroll-padding-top: 3rem;
  }

  .link {
    background: linear-gradient(
      to right,
      #db2777,
      #9333ea,
      #4f46e5,
      #4c1d95
    );
    background-size: 0 0.25rem, 100% 0.25rem;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .link:hover {
    background-size: 100% 0.25rem, 0 0.25rem;
  }
  
  .bg-spiral {
    background: linear-gradient(
      135deg,
      #db2777,
      #9333ea,
      #4c1d95,
      #4f46e5,
      #4c1d95,
      #9333ea,
      #db2777
    );
    animation: gradient 3s linear infinite alternate;
    background-size: 300% 100%;
  }

  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
}

@layer utilities {
  .truncate-none {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }


  @font-face {
    font-family: "Captura Now Italic";
    src: url("../CapturaNow-BlackItalic.woff2");
  }

  .title {
    font-family: "Captura Now Italic";
  }
}