---
import "../assets/styles/main.css";
import SkipNav from "../components/common/skipNav.astro";
import Navbar from "../components/home/navbar.astro";
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Striped Purple</title>
  </head>
  <body class="bg-primary-900 text-white relative">
    <SkipNav/>
    <slot name="navigation"/>
    <main id="main" class="h-screen motion-safe:scroll-smooth relative">
      <slot />
    </main>
    <output></output>
  </body>
</html>
