---
import "../assets/styles/main.css";
import Navbar from "../components/home/navbar.astro";
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-primary-900 text-white relative">
    <!-- <div class="relative"> -->
    <a
      href="#main"
      class="focus:outline-none focus:ring-2 focus:ring-white p-4 bg-pink-600 text-center text-2xl -translate-y-full fixed focus:translate-y-0 w-full motion-safe:transition-all duration-200 z-50"
      >Skip to main content</a
    >
    <Navbar />
    <main id="main" class="h-screen motion-safe:scroll-smooth relative">
      <slot />
    </main>
    <output></output>
    <!-- </div> -->
  </body>
</html>
